body {
    margin-left: 0%;
    margin-top: 0%;
    font-family: Libre Baskerville;
}

.container {
    margin-top: 5%;
    margin-left: 1%;
}

.describe {
    margin-top: 10%;
    font-size: small;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    padding: 3%;
}

@media only screen and (min-width: 400px) {
    br {
        display: none;
    }
    
}

@media only screen and (min-width: 1000px) {
    br {
        display: none;
    }
    
    .image {
        margin-left: 50%;
    }

    .more-detail {
        color: transparent;
    }

    .detail-1:hover .more-detail{
        color: white;
    }

    .detail-2:hover .more-detail{
        color: white;
    }

    .detail-3:hover .more-detail{
        color: white;
    }
}

.fact {
    margin-top: 5%;
    background-color: rgb(68, 74, 124);
    width: 100%;
    color: white;
}

.title{
    margin-top: 15%;
}

.detail-1, .detail-2, .detail-3 {
    margin-left: 5%;
    border-style: solid;
    padding: 1%;
    margin-top: 10%;
    border-width: 2px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 0;
}

.detail-3 {
    margin-bottom: 10%;
}

.detail {
    font-size: 20px;
}

.more-detail {
    font-size: 10px;
}

